@charset "utf-8";

body{
	font-size:62.5%; 
	margin:0;
	padding:0;
	background-color:#000;
	font-family:'lucida grande', arial, tahoma, sans-serif;
}

#page-wrapper{
	margin:0 auto;
	padding-top:20px;
	width:900px;
	position:relative;
	background-color:#333;
}

header{
	margin:0 auto;
	width:640px;
	height:250px;
	background:transparent url('images/banner.jpg') top left no-repeat;
}

h1{
	position:relative;
	font-family:Times;
	font-size:30px;
	color:#fff;
	top:5px;
	left:5px;
}

h2{
	position:relative;
	font-family:Calibri;
	font-size:20px;
	color:#fff;
	top:165px;
	left:35px;
}

h3{
	margin:0;
	margin-bottom:5px;
	padding: 0;
	font-weight:normal;
	color:#6A7919;
	font-size:2.5em;
	font-family:Times;
}

h4{
	margin:0;
	font-size:1.5em;
	font-weight:normal;
	color:#94C258;
}

h5{
	margin:0;
	font-size:1em;
	font-weight:normal;
	color:#94C258;
}

.content-image{
	box-shadow:0px 0px 10px #dfdfdf;
	padding:4px;
	float:left;
	border:1px solid #d6d6d6;
	margin-bottom:20px;
	position:relative;
}

.content-image img{
	float:left;
}

.fang-od{
	height: 240px;
	width: 200px;
	float: left;
	margin: 5px;
}

.content-image figcaption{
	position:relative;
	bottom:0px;
	margin-bottom:-5px;
	width:245px;
	color:LightSkyBlue;
}

/* ----navigation---- */
.navigation{
	margin:0 20px;
	height:29px;
	padding:5px 0;
	margin-bottom:12px;
}
.navigation ul{
	margin:0;
	padding:7px;
	height:29px;
}
.navigation ul li{
	list-style:none;
	display:inline;
	text-transform:uppercase;
}
.navigation ul li a:link, .navigation ul li a:active, .navigation ul li a:visited{
	color:#767676;	
	padding:10px 7px 10px 7px;
	font-size:1em;
	font-family:'lucida grande', arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
}
.navigation ul li a:hover{
	background-color:#6a7919;
	color:#fdfdfd;
}

.main-content{
	min-height:390px;
	width:850px;
	margin:0 auto;
	margin-top:-16px;
	background-color:#fdfdfd;
}

/* ----sections---- */
#home, #about, #culture, #stories, #aboutus{
	margin-bottom:300px;
	padding-top:15px;
	margin-top:10px;
	float:left;
	padding:5px;
	padding-left:25px;
	padding-right:25px;
	width:auto;
}
#aboutus{
	margin-bottom:10px;
}

#home p, #stories p{
	margin:0;
	color:#767676;
	font-family:Tahoma;
	font-size:1.2em;
	line-height:170%;
}
#home .participation, #home .requirements{
	margin:5px;
	margin-left:20px;
}

#about li, #culture li{
	margin:0;
	color:#767676;
	font-family:Tahoma;
	font-size:1.2em;
	line-height:170%;
}

.story{
	margin-left:15px;
	margin-bottom:50px;
}

.story p{
	padding-bottom:5px;
}

.story .author{
	margin-top:8px;
	display:block;
	font-size:13px;
}

.team .member img{
	width:138px;
	height:138px;
	border:2px #dfdfdf solid;
	border-radius:50%;
}

footer{
	margin:0 auto;
	width:641px;
	height:39px;
}

footer span{
	display:block;
	position:relative;
	font-family:Tahoma;
	font-size:1.2em;
	padding:10px;
	color:#767676;
}

#culture div{
	margin:0;
	color:#767676;
	font-family:Tahoma;
	font-size:1.10em;
	line-height:160%;
}

.contentleft{
	float: left;
	width: 49%;
}
.imageleft{
	float: left;
	width: 49%;
}
.contentright{
	float: right;
	width: 49%;
}
.imageright{
	float: right;
	width: 49%;	
}
